body {
  margin: 0;
  color: white;
  background: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav {
  display: none;
  position: relative;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  z-index: 1;
  margin-top: 0.5em;
}

.nav-links, .main-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-links a, .resume, .view, .view-b, .view-s{
  text-decoration: none;
  color: white;
  margin-left: 2em;
  height: 3em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, blueviolet, white) 1;
  text-align: center;
}

.tom a, .view{
  border-image: linear-gradient(to right, tomato, white) 1;
}

.green a, .view-b{
  border-image: linear-gradient(to right, #3af274, white) 1;

}

.sky a, .view-s{
  border-image: linear-gradient(to right, skyblue, white) 1;
}

.resume, .view, .view-b, .view-s{
  margin-left: 0;
  margin-top: 2em;
}

.main-links a:hover , .resume:hover {
  border-image: linear-gradient(to right, red, blueviolet) 1;
  background: white;
  color: black;
}

.collider {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.particle {
  position: absolute;
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 50%;
  margin: 1em;
}

.part-1 {
  background: red;
  animation: collide-left 0.5s ease-in forwards, expand 1s 0.5s forwards, fade-out 2s 1.5s forwards;
  z-index: 0;
}

.part-2 {
  background: blue;
  animation: collide-right 0.5s ease-in forwards, fade-out 0.1s 0.5s forwards;
}

@keyframes collide-left {
  0% {
    transform: translate(-50em, 0)
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes collide-right {
  0% {
    transform: translate(50em, 0)
  }
  100% {
    transform: translate(0, 0);
  }
}

a {
  text-decoration: none;
  color: white;

}

@keyframes expand {
  0% {
    transform: scale(1);
    background: white;
  }
  100% {
    transform: scale(200);
    background: white;
  }
}

@keyframes shrink {
  0% {
    scale: 1;
    background: white;
    transform: translate(-15%, -20%);
  }
  100% {
    scale: 0.1;
    background: white;
    transform: translate(-15%, -20%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: hidden;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2em);
  }
  100% {
    transform: translateY(0);
  }
  
}

.name {
  width: 100%;
}

.content {
  margin: 10%;
  width: 80%;
  display: none;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30vh;
  margin-bottom: 0;
}

.content-text, .content-image {
  width: 50%;
  transform: translateY(-31.5%);
}

.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(10%, -20%);
}

.content-image img {
  animation: bounce 4s ease-in-out infinite;
}

.highlight {
  color: blueviolet;
}

.burger {
  display: none;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
}

.options {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 20em;
  background: white;
  color: black;
  transform: translate(210%, 0);
  margin-top: 7em;
  position: fixed;
  z-index: 1;
}

.options a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1em;
}

.line {
  width: 1em;
  height: 0.1em;
  background: white;
  margin: 0.4em 0;
}

.content-small-image {
  display: none;
  animation: bounce 4s ease-in-out infinite;
  position: fixed;
  top: 30%;
  left: 0%;
  transform: translate(-100%, -100%);
  animation: bounce 4s ease-in-out infinite;
}

.navigator {
  display: none;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  left: 50%;
}

.navigator-open {
  height: 600em;
  width: 600vh;
  border-radius: 50%;
  top: 0%;
  left: 50%;
  background: white;
}

@media screen and (max-width: 768px) {
  .content-image {
    display: none;
  }
  .main-links{
    display: none;
  } 
  .burger {
    display: block;
  }
  .options {
    display: flex;
  }
  .content-text {
    width: 100%;
  }
  .content-small-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-text {
    margin-top: 60em;
  }
  .mouse {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    left: 45%;
    position: fixed;
  }
  
  .mouse-body {
    width: 40px;
    height: 60px;
    background-color: black ;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid white;
  }
  
  .scroll-wheel {
    width: 8px;
    height: 20px;
    background-color: #777;
    position: absolute;
    top: 10px;
    border-radius: 4px;
    animation: scroll 2s infinite;  
  }
  
  @keyframes scroll {
    0%, 100% {
      height: 15px;
      opacity: 1;
    }
    50% {
      height: 25px;
      opacity: 0.5;
    }
  }
  
  
}

@keyframes slide-in {
  0% {
    transform: translateX(210%);
  }
  100% {
    transform: translateX(2%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(210%);
  }
}